
@media screen and (max-width:520px) {
    .navbar{
        position: sticky;
        top: 0;
        z-index: 1;
        padding: 3%;
    }
      .card{
        width: 80%;
        display: inline-block;
        margin-left: 10%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
      }
      .card-text{
        margin-top: 2.5%;
        margin-bottom: 5%;
        font-family: sans-serif;
      }
      .card-title{
        font-family: Montserrat,serif;
      }
     .form{
        text-align: center;
        margin-top: 30%;
        margin-left: 10%;
        margin-right: 10%;
     }
     textarea{
        width: 60%;
     }
     .btn-close{
        font-size: 2rem;
     }
     
} 
html,#App{
    background-color: var(--bs-secondary-bg);
    text-transform: capitalize;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 1;
    padding-right: .5%;
}
.navbar-brand{
    margin-right: 2.5%;
}
  .card{
    width: 80%;
    display: inline-block;
    margin-left: 10%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }
  .card-text{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-family: sans-serif;
  }
  .card-title{
    font-family: Montserrat,serif;
  }
 .form{
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
 }
 textarea{
    width: 60%;
 }
 .btn-close{
    font-size: 2rem;
 }